.reset-password {
	&__view {
		display: flex;
		align-items: center;
		min-height: 100%;
		background-color: $dark500;
	}
	&__container {
		width: $col10;
		margin: auto;
	}
	&__logout {
		&--title {
			color: white;
			margin-bottom: 16px;
			text-align: left;
			margin-left: 4px;
		}
	}
	&__new-request {
		margin: auto;
		display: table;
	}
	&__login {
		&--container {
			margin-top: 16px;
			max-width: 600px;
		}
		&--success {
			&-text {
				margin-bottom: 8px;
			}
		}
	}
}
