.creation-stepper {
    &__container {
        width: $col12;
        padding: 12px 16px;
        background-color: $light300;
        box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 11%);
        @include animate(0.2s ease-in-out)
    }

    &__active {
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
    }

    &__static {
        min-height: 64px;
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    &__item {
        width: auto;
        padding: 0 16px 0 0;
    }

    &__modal {
        &-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(-50%, -50%, 0);
            width: $col12;
        }

        &-container {
            width: 50%;
            margin: auto;
        }

        &-title {
            margin-bottom: 8px;
        }
    }

    &__actions {
        &-wrapper {
            background-color: white;
            padding: 16px 16px 24px;
            border-radius: 4px;
        }

        &-cta {
            position: absolute;
            right: 0;
        }

        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            .select {

                &__container {
                    width: $col12;
                    padding: 0;
                }

                &__value-container {
                    background-color: $green100;
                    width: calc(100% - 1px);
                    display: block;
                }

                &__options {
                    width: calc(100% - 16px);
                    left: 8px
                }
            }

            .input {
                &__container {
                    padding: 0;
                    width: $col12;
                    @include animate(0.2s ease-in-out)
                }

                &__value-container {
                    background-color: $green100;
                    width: $col12;
                    display: block;
                }
            }

            &.w-cta {
                .input {
                    &__container {
                        width: calc(100% - 60px);
                    }
                }
            }
        }
    }

    &__element {
        width: $col4;
        padding: 0 8px;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--title {
            width: calc(100% - 32px);
        }

        &--remove {
            cursor: pointer;

            &:hover {
                background-color: $statusPending;
                border-radius: 100%;
                fill: white
            }
        }

        .svg {}
    }

    // &__element {
    //     width: $col4;
    //     .select {
    //         &__value-container {
    //             width: $col12;
    //             display: block;
    //         }
    //         &__options {
    //             width: calc(100% - 32px)
    //         }
    //     }
    // }
}

.room {

    &-create {
        &__body {
            flex:0
        }
        &__container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &-creation {
        flex:1;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $createRoomBg;
        &__options {
            position: relative;
            z-index: 1;
            top: 0;
            width: $col12;
            display: flex;
            flex-wrap: wrap;
            padding:4px 24px 16px;
            background-color: $green100;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__grid-controller {
            display: flex;
            flex-wrap: wrap;
            .input-number {
                &__wrapper {
                    margin-right: 32px;
                }
            }
        }
    }

    &-grid {
        // margin-top: 64px;
        position: absolute;
        height: 100%;
        width: $col12;
        overflow: auto;
        // background-color: yellow;
        display: flex;
    }
}

.creation-table {
    &__wrapper {
        position: relative;
        // height: 0;
        // padding-bottom: 50%;
        margin: auto;
        padding: 32px;
        max-width: calc(100% - 64px);
        /* min-height: 100%; */
        margin-left: auto;
    }

    &__body {
        display: flex;
        /* flex-wrap: wrap; */
        height: auto;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        max-width: $col12;
        margin: auto;
    }

    &__row {
        width: auto;
        /* height: 50%; */
        /* height: 100%; */
        /* flex: 1 1; */
        display: flex;
        width: $col12;
        .creation-table {
            &__col {
                border-right: 1px solid $light500;
                border-bottom: solid 1px $light500;
                &:nth-last-child(1) {
                    border-right: none;
                }
            }
        }
        &:nth-last-child(1) {
            .creation-table {
                &__col {
                    border-bottom: none;
                }
            }
        }
    }

    &__col {
        // background-color: rgb(2, 223, 120);
        /* flex: 1 1; */
        // border: 1px solid $light500;
        /* flex: 1 1; */
        height: 100%;
        width: 100%;
        max-width: 100%;
        /* max-height: 100%; */
        // height: 50px;
        // width: 50px;
        flex: 0 0 calc(50px);
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.selected {
           background-color: $statusYours;
        }
        &:hover {
            background-color: $statusYours;
        }
        .creation-options {
            &__table {
                &--angle {
                    width: 49px;
                    height: 49px;
                }
            }
        }
    }
}

.creation-options {
    &__aside {
        position: sticky;
        z-index: 100;
        top: 16px;
        bottom:16px;
        left: 16px;
        height: calc(100% - 32px);
        overflow: auto;
        width: auto;
        display: table;
        padding: 16px 0;
    }
    &__box {
        background: white;
        position: relative;
        padding: 4px;
        border-radius: 4px;
        box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 11%);
        display: table;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap:4px;
    }
    &__element {
        width: 48px;
        height: 48px;
        background-color: $light300;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:none;
        cursor: pointer;
        &.clear {
            background-color: $warning300;
            &:hover {
                background-color: $warning500;
            }
        }
        &.disabled {
            background-color: $light500;
            pointer-events: none;
        }
        &.selected,
        &:hover {
            background-color: $green100
        }
        &--vLine {
            @extend .creation-options__element;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            &.bottom {
                justify-content: flex-end
            }
        }
        &--hLine {
            @extend .creation-options__element;
            justify-content: space-between;
            padding:10px;
            &.right {
                justify-content: flex-end;
            }
        }
    }
    &__seat {
        &--container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: $green500;
        &.your {
            background-color: $statusYours;
        }
        &.buisy {
            background-color: $statusBuisy;
        }
    }
    &__table {
        &--angle {
            width: 25px;
            height: 25px;
            &-br {
                @extend .creation-options__table--angle;
                border: 3px solid $statusNotAvailable;
                border-top: none;
                border-left: none;
                border-radius: 0 0 25px 0;
            }
            &-bl {
                @extend .creation-options__table--angle;
                border: 3px solid $statusNotAvailable;
                border-top: none;
                border-right: none;
                border-radius: 0 0 0 25px;
            }
            &-tr {
                @extend .creation-options__table--angle;
                border: 3px solid $statusNotAvailable;
                border-bottom: none;
                border-right: none;
                border-radius: 25px 0 0px 0;
            }
            &-tl {
                @extend .creation-options__table--angle;
                border: 3px solid $statusNotAvailable;
                border-bottom: none;
                border-left: none;
                border-radius: 0 25px 0 0;
            }
        }
        &--vertical {
            width: 25px;
            border-left: 3px solid $statusNotAvailable;
            background-color: $statusNotAvailable;
        }
        &--horizontal {
            border-top: 3px solid $statusNotAvailable;
            height: 25px;
            background-color: $statusNotAvailable;
        }
        &--hLineLeft,
        &--hLineRight {
            border-left: 3px solid $statusNotAvailable;
            height: 49px;
            background-color: $statusNotAvailable;
        }
        &--hLineRight {
            margin-left: auto;
        }
        &--vLineTop,
        &--vLineBottom {
            width: 49px;
            border-top: 3px solid $statusNotAvailable;
            background-color: $statusNotAvailable;
            margin-bottom: auto;
        }
        &--vLineBottom {
            margin-top: auto;
            margin-bottom: 0;
        }
        
    }

}

.box-line {
    &__vertical {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .creation-options {
            &__table {
                &--vertical {
                    width: 1px;
                    height: 100%;
                }
            }
        }
    }
}