.st0it{fill:#F7F7F7;}
	.st1it{fill:#72635C;}
	.st2it{fill:#D1C7C2;}
	.st3it{fill:#D56851;}
	.st4it{fill:#AB3D26;}
	.st6it{fill:#BFAB9A;}
	.st7it{fill:#A18C82;}
	.st8it{fill:#EBDFDA;}
	.st9it{fill:#DEC7B3;}
	.st10it{fill:#4F4540;}
	.st11it{fill:#FFFFFF;}
	.st12it{fill:#F5F5F5;}
	.st13it{fill:#A6A6A6;}
	.st14it{fill:#EDEDED;}
	.st15it{fill:#F2B446;}
	.st16it{fill:#AD7B6F;}
	.st17it{fill:#312726;}
	.st18it{fill:#FFE7DB;}
	.st19it{fill:#451F0E;}
	.st20it{fill:#F6F0E4;}
	.st21it{fill:#FFD8C6;}
	.st22it{fill:#765528;}
	.st23it{fill:#FAF8F5;}
	.st25it{fill:#C16053;}
	.st26it{opacity:0.3;fill:#A6A6A6;}
	.st31it{fill:#FCCF89;}
	.st34it{fill:#DBD9D4;}
	.st42it{fill:#666666;}
	.st43it{fill:#A5A5A5;}