.loginContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: $dark500;
}

.loginModal {
	width: $col12;
	margin: auto;
	max-width: 420px;
	padding: 0 16px;
	@media screen and (min-width: $sm) {
		@include childCol($col12, $col6);
	}
	@media screen and (min-width: $xl) {
		@include childCol($col12, $col4);
		max-width: 600px;
	}
	.cta {
		width: 100%;
		@media screen and (min-width: $md) {
			width: auto;
			margin-left: auto;
		}
	}
	.content-logo {
		margin-bottom: 32px;
		.logo {
			margin: auto;
			display: table;
		}
	}
	.spinner {
		&__container {
			margin: auto;
		}
	}
}

::placeholder {
	color: $light700;
	opacity: 1;
}

.form {
	&__input {
		&--wrapper {
			margin-bottom: 24px;
		}
		&--link {
			color: white;
			text-decoration: underline;
			&:hover {
				color: $green500;
			}
		}
	}
}

.content-input {
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 8px;
	margin-bottom: 8px;
	&__icon {
		width: 48px;
		height: 48px;
		align-items: center;
		justify-content: center;
		display: flex;
	}

	&.theme {
		&-dark {
			background: $dark700;
		}
		&-light {
			background-color: $light300;
			input {
				color: $dark500;
			}
		}
	}

	&.default-input {
		min-height: 48px;
		padding: 0 16px;
	}

	input {
		border: none;
		box-shadow: none;
		background: transparent;
		margin: 0;
		padding: 0;
		max-width: calc(100% - 64px);
		width: 100%;
		padding: 0 16px 0 0;
		color: $light500;

		&:focus {
			outline: none;
		}
	}
}

.login-btn {
	margin: 5px;
	text-align: left;
	padding: 12px 20px;
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-btn img {
	height: 20px;
}

.login-btn:hover {
	background: #4caf50;
	border-color: #4caf50;
}

.alert {
	margin-bottom: 16px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	&__paragraph {
		width: 100%;
		color: white;
		text-align: center;
		padding: 13px;
		border-radius: 10px;
	}

	&__title {
		@extend .alert__paragraph;
		border-radius: 3px 3px 0px 0px;
		&.invalid {
			background-color: $warning500;
		}
		&.valid {
			background-color: $green500;
		}
	}

	&__text {
		@extend .alert__paragraph;
		border-radius: 0px 0px 3px 3px;
		&.invalid {
			background-color: $warning700;
		}
		&.valid {
			background-color: $green700;
		}
	}
}
