.table-prenotazioni {
    margin: 0;
    padding: 0;
  }

.prenotazioni {
  &__container {
      width: $col12;
      @media screen and (min-width:$md) {
        padding: 0 32px
      }
  }
  &__cta {
    &.table__col {
      padding:0;
      align-items: center;
      justify-content: center;
    }
  }
}

.prenotazione {
  &__wrapper {
  }

  &__from,
  &__to {
    display: flex;
  }
}
