.cta {
    padding: 12px 16px;
    width: auto;
    cursor: pointer;
    border-radius: 24px;
    border-style: none;
    display: flex;
    &--primary {
        background-color: $green500;
        color:white;
        &:hover {
            background-color: $green700;
        }
    }
    &__icon {
        justify-content: space-between;
        align-items: center;
        .icon {
            &__inner {
                &--container {
                    display: flex;
                    align-items: center;
                    justify-content: center
                }
            }
        }
        &--right {
            @extend .cta__icon;
            .icon {
                &__inner {
                    &--container {
                        &.marginate {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}