.cta {
    padding: 12px 16px;
    width: auto;
    cursor: pointer;
    border-radius: 24px;
    border-style: none;
    display: flex;
    &--primary {
        background-color: $green500;
        color:white;
        &:hover {
            background-color: $green700;
        }
    }
    &--secondary {
        text-transform: uppercase;
        font-size: 1.2rem;
        background-color: transparent;
        padding:0;
        font-weight: 700;
        letter-spacing: 1px;
        &-ok {
            @extend .cta--secondary;
            color:$green500;
            &:hover {
                color: $green700;
            }
        }
        &-delete {
            @extend .cta--secondary;
            color:$warning500;
            &:hover {
                color: $warning700;
            }
        }
    }
    &--secondary-delete {
        color:$warning500;
        text-transform: uppercase;
        font-size: 1.2rem;
        background-color: transparent;
        padding:0;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
            color: $warning700;
        }
    }
    &__icon {
        justify-content: space-between;
        align-items: center;
        .icon {
            &__inner {
                &--container {
                    display: flex;
                    align-items: center;
                    justify-content: center
                }
            }
        }
        &--right {
            @extend .cta__icon;
            .icon {
                &__inner {
                    &--container {
                        &.marginate {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}