.input {
    &__value {
        &-container {
            @include pxToRem(16);
            border: none;
            cursor: auto;
            &:focus,
            &:focus-visible {
                border:none;
                outline: none;
            }
        }
    }
    &__message {
        margin:8px 16px;
        @include pxToRem(12);
        &--warning {
            @extend .input__message;
            color:$warning500
        }
    }
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number {
    &__container {
        display: flex;
        input {
            border: none;
            width: auto;
            display: flex;
            max-width: 48px;
            text-align: center;
            @include pxToRem(16);
            border-radius: 16px;
            background-color: transparent;
        }
    }
}