h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

h1,
.txt-h1 {
    @include pxToRem(48);
}

h2,
.txt-h2 {
    @include pxToRem(40);
}

h3,
.txt-h3 {
    @include pxToRem(32);
}

h4,
.txt-h4 {
    @include pxToRem(24);
}

h5,
.txt-h5 {
    @include pxToRem(21);
}

h6,
.txt-h6 {
    @include pxToRem(18);
}

p,
.txt-p {
    @include pxToRem(16);
    &.min {
        @include pxToRem(14);
    }
    &.extra-min {
        @include pxToRem(10)
    }
}

.label {
    @include pxToRem(10);
    text-transform: uppercase;
    letter-spacing: 1px;
}


@for $i from 0 through 4 {
    .ls-#{$i} {
       letter-spacing: #{$i}px!important;
    }
}

.uppercase {
    text-transform: uppercase;
}

.semiBold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}