$black500:#000000;

$green500:#59ba23;
$green300:#8eed58;
$green700:#1a8900;

$chairBase:#EFEFEF;
$chairBaseBorder:#C4C4C4;
$statusAvailable:#b9ff92;
$availableBorder:#81e14b;
$statusYours:#f6ff92;
$yoursBorder:#e1b64b;
$statusBuisy:#f78989;
$buisyBorder:#892d2d;
$statusNotAvailable:#adadad;
$notAvailableBorder:#3c3c3c;

$dark500:#3b3b3c;
$dark300:#656566;
$dark700:#151516;

$light300:#fafafa;
$light500:#d1c3c7;
$light700:#a09396;

$warning500:#d31010;
$warning300:#ff553c;
$warning700:#990000;

