.office-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.office-margin {
  display: flex;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  flex-wrap: wrap;
}

.r-border {
  border: #9d9d9d solid 1px;
}

.r-border-no-bottom {
  border-bottom: none !important;
}

.r-border-no-left {
  border-left: none !important;
}

.r-border-no-right {
  border-right: none !important;
}

.boss-room {
  width: 30%;
  height: 34%;
}

.hr-room {
  width: 40%;
  height: 22%;
}

.toilette {
  width: 30%;
  height: 22%;
}

.it-room {
  width: 65%;
  height: 33%;
}

.cafe {
  width: 20%;
  height: 20%;
}

.meeting-room {
  width: 50%;
  height: 33%;
}

.hall {
  width: 30%;
  height: 33%;
}

.sgabu {
  width: 20%;
  height: 33%;
}

.desk {
  display: flex;
  margin: 10px auto;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  background-color: #fff;
  flex-wrap: wrap;
}

.it-desk .desk {
  justify-content: space-around;
}

.desk-row {
  display: flex;
  width: 100%;
}

.meet-desk-first-row {
  height: 33%;
  justify-content: space-around;
}

.meet-desk-third-row {
  height: 33%;
  justify-content: space-around;
  align-items: flex-end;
}

.meet-desk-second-row {
  height: 34%;
  justify-content: space-between;
  align-items: center;
}

.meet-seat {
  width: 13%;
  height: 70%;
  border: white solid 2px;
  border-radius: 20%;
  background-color: rgb(88, 169, 88);
}

.it-desk-first-row {
  height: 50%;
  justify-content: space-around;
  align-items: flex-start;
}

.it-desk-second-row {
  height: 50%;
  justify-content: space-around;
  align-items: flex-end;
}

.it-seat {
  width: 10%;
  height: 48%;
  border: white solid 2px;
  border-radius: 20%;
  background-color: rgb(88, 169, 88);
  margin-left: 7%;
  margin-right: 7%;
}

.seat.busy {
  background-color: rgb(231, 88, 88);
}

.seat:hover {
  background-color: grey;
  cursor: pointer;
}

.seat.busy:hover {
  background-color: rgb(231, 88, 88); ;
  cursor: auto;
}

.contentLegend{
  margin-top: 20px;
  display: flex;
}

.contentLegend-single{
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.contentLegend-single div {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

.contentLegend-single p {
  color: #343e4e;
}

.single-red{
  background: red;
}

.single-yellow{
  background: yellow;
}

.single-green{
  background: green;
}

.single-grey{
  background: grey;
}

@media (max-width:400px){
  .office-margin {
    height: 250px;
    width: 300px;
  }
}


.text-name-room {
  font-size: 11px;
  padding: 2px 8px;
  background: rgba(52, 62, 78, 0.81);
  margin: 3px;
  color: white;
  border-radius: 3px;
}

.prenotazione-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-all{
  padding: 2px 8px;
  margin: 3px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.button-all:hover{
  color: black;
  background: #fff;
}


.office-container-mobile{
  display: none;
}

.separator {
  height: 30px;
  width: 100%;
}

.border-detail {
  border: #000 solid 2px;
  width: 100%;
  height: 225px;
}

@media only screen and (max-width: 600px) {
  .office-container {
    display: none;
  }

  .office-container-mobile{
    display: block;
  }

  .meet-seat {
    height: 35px;
    width: 35px;
  }

  .it-seat {
    height: 35px;
    width: 35px;
    margin: 0 auto;
  }

  .contentLegend{
    flex-direction: column;
  }

  .contentLegend-single{
    margin-bottom: 10px;
  }
}
