html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.main {
  &-container {
    top: 75px;
    position:relative;
    display: flex;
     min-height:100vh;
    height: auto;
    @media screen and (min-width:$md) {
      top:0;
    }
 }
 &-wrapper {
  width: $col12;
  position: relative;
  @media screen and (min-width:$md) {
    width: calc(100% - 240px);
    left:240px;
  }
 }
}

.quarter-circle-top-left{
  width: 25px;
  height: 25px;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 0 0 25px 0;
  -moz-border-radius: 0 0 25px 0;
  -webkit-border-radius: 0 0 25px 0;
}
.quarter-circle-top-right{
   width: 25px;
   height: 25px;
   border: 1px solid rgb(81, 81, 81);
   border-radius: 0 0 0 25px;
   -moz-border-radius: 0 0 0 25px;
   -webkit-border-radius: 0 0 0 25px;
}
.box-quarter-circle-top-right {
  display: flex;
  justify-content: end;
}
.quarter-circle-bottom-left{
   width: 25px;
   height: 25px;
   border: 1px solid rgb(81, 81, 81);
   border-radius: 0 0 0 25px;
   -moz-border-radius: 0 25px 0 0;
   -webkit-border-radius: 0 25px 0 0;
}
.box-quarter-circle-bottom-left {
  display: flex;
  align-items: end;
}
.quarter-circle-bottom-right{
   width: 25px;
   height: 25px;
   border: 1px solid rgb(81, 81, 81);
   border-radius: 25px 0 0 0;
   -moz-border-radius: 25px 0 0 0;
   -webkit-border-radius: 25px 0 0 0;
}
.box-quarter-circle-bottom-right {
  display: flex;
  justify-content: end;
  align-items: end;
}