.loginContainer {
  display: flex;
  flex-direction: column;
}

.loginModal {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 5px;
  padding: 12px 20px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 3px;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(169, 169, 169);
  opacity: 1;
}

.login-btn {
  margin: 5px;
  text-align: left;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
}

.login-btn:hover {
  background: #4CAF50;
  border-color: #4CAF50;
}

.invalidLogin {
  margin: 5px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 0.9rem;
  display: none;
  border-radius: 10px;
  overflow: hidden;
}

.contentlogo {
  margin: 5px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 0.9rem;
}

.invalidLogin p {
  background-color: rgb(177, 18, 18);
  width: 100%;
  color: white;
  text-align: center;
  padding: 13px;
  border-radius: 10px;
}

.invalidLogin p:first-child {
  border-radius: 3px 3px 0px 0px;
}

.invalidLogin p:last-child {
  width: 100%;
  background-color: rgb(157, 36, 36);
  border-radius: 0px 0px 3px 3px;
}

.logo {
  text-align: center;
}

.logo div {
  width: 100%;
  padding: 30px;
  background-color: #3b3b3c;
  border-radius: 10px;
}
